* {
    padding: 0;
    margin: 0;
}

/*!header*/
#header {
    height: 100px;
    line-height: 100px;
    background-color: rgb(255, 167, 182);
}
#header header .header_logo {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#header header .header_logo > a {
    height: auto;
}
#header header .header_logo > a > img {
    height: 80px;
    padding: 10px;
    border-radius: 10px;
}
#header header .header_btns {
    float: right;
    margin-right: 20px;
}
#header header .header_btns .btn {
    height: 45px;
    width: 85px;
    border-radius: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: pink;
    color: #ffffff;
    margin-right: 5px;
    transition: 0.5s;
}
#header header .header_btns .btn:hover {
    height: 55px;
    width: 95px;
}

#container {
    height: 50vh;
}

/*!main*/

#main {
    height: 100vh;
    padding-top: 100px;
}
#main > div {
    text-align: center;
    height: 20vh;
    margin: 0 auto;
    width: 500px;
}
#title {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
}


/*!login*/

#login_frame {
    display: none;
}
#login_shadow {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background-color: #efced736;
}
#login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 10px;
}
#login > div {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    /* background: linear-gradient(to bottom, purple , white 25%, red , black ); */
    background: #f6aeba;
}
#login_title {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}
#login > div > input {
    display: flex;
    margin: 30px auto;
    width: 85%;
    height: 40px;
}
.login_input {
    padding: 5px 10px;
    outline: none;
    border-radius: 15px;
    border: 0;
}
#login > div > button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
#login_register {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
#login_register > a {
    color: #df0d8f;
}

/*!signup*/

#signup_frame {
    display: none;
}
#signup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 10px;
}
#signup > div {
    width: 350px;
    height: 480px;
    margin: 0 auto;
    border-radius: 10px;
    background: #f6aeba;
}
#signup_title {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}
#signup > div > input {
    display: flex;
    margin: 30px auto;
    width: 85%;
    height: 40px;
}
.signup_input {
    padding: 5px 10px;
    outline: none;
    border-radius: 15px;
    border: 0;
}
#signup > div > button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}



/*!quiz_list*/

#quiz_list_frame {
    min-height: 80vh;
    position: relative;
    display: flex;
}
#quiz_profile {
    width: 30%;
    padding-top: 100px;
    text-align: center;
}
#quiz_profile_input > input {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #ffa7b6;
}
#quiz_profile_input > button {
    width: 220px;
    height: 30px;
    background-color: #ffa7b6;
    border: 0;
    border-radius: 10px;
    color: #790079;
    cursor: pointer;
    outline: none;
}
#quiz_list {
    padding-top: 100px;
    width: 70%;
}
#quiz_list > div {
    display: flex;
    height: 80px;
}
#quiz_list > div > div {
    width: 70%;
    border: 1px solid #ffa7b6;
    margin-top: 15px;
    padding-left: 10px;
    height: 70px;
    line-height: 70px;
}
#quiz_list > div > button {
    width: 10%;
    height: 70px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    margin: 15px 0 0 15px;
    background-color: #ffa7b6;
}
.quiz_add_button {
    border: 0;
    margin: 30px 0 0 55px;
    display: block;
    width: 60%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #da5db4;
}

/*!quiz_write*/













/*!footer*/

#footer {
    height: 130px;
    padding-top: 20px;
    text-align: center;
}
#footer > img {
    height: 50px;
    
}
#info_indus > span {
    font-size: 10px;
    color: #000000;
}
#info_cap > span {
    font-size: 13px;
    color: #000000;
}
#footer > div > span > a {
    text-decoration: none;
    color: #000000;
}