* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'HSGaeulsenggak';
}
@font-face { font-family: 'S-CoreDream-1Thin'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-1Thin.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'HSGaeulsenggak'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/HSGaeulsenggak.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'stencil'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/stencil.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'NanumBarunpen'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'Binggrae'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
    min-width: 900px;
    position: relative;
    background-color: #ade9e7;
}
button {
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
button:hover {
    opacity: 0.8;
}
input {
    outline: none;
    border: 0;
}

/*!header*/
#header {
    position: relative;
    height: 90px;
    width: 100%;
    background: linear-gradient(to right bottom, #187aca, #4193f0 50%, #80f0ff);
}
#header header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 90px;
    margin: 0 auto;
}
#header header .header_logo {
    height: 90px;
}
#header header .header_logo > a > img {
    height: 70px;
    padding: 10px;
    border-radius: 10px;
}
#header header .header_btns {
    position: absolute;
    right: 0;
    top: 0;
    padding: 22.5px;
}
#header header .header_btns .header_btns_frame .btn {
    height: 45px;
    line-height: 45px;
    width: 85px;
    border: 0;
    border-radius: 15px;
    background-color: #ffffff00;
    color: #ffffff;
    margin: 0 10px;
    transition: 0.5s;
}
#header header .header_btns .header_btns_frame .btn:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.2);
}

/*!main*/

#main {
    height: 500px;
    padding-top: 100px;
    background-image: url(../img/index_background_img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.main_wrapper {
    width: 400px;
    margin: 0 auto;
    /* height: 100%; */
}
#title {
    text-shadow: -2px 2px 5px #000000;
    color: #ffffff;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}
#main > div > div > * {
    display: block;
    margin: 20px auto;
}
#user_id {
    padding: 0 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    outline: none;
}
#user_search {
    width: 400px;
    height: 40px;
    color: #000;
    background-color: #ade9e7;
}

/*!login*/

#login_frame {
    display: none;
    z-index: 1001;
}
#login_shadow {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background-color: #5555552d;
    z-index: 1000;
}
#login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    color: #ffffff;
    border-radius: 10px;
}
#login > div {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f8f8f8;
}
#login_title {
    user-select: none;
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
    background-color: #187aca;
}
#login > div > input {
    display: flex;
    margin: 30px auto;
    width: 85%;
    height: 40px;
}
.login_input {
    padding: 5px 10px;
    outline: none;
    border-radius: 15px;
    border: 0;
}
.login_input:focus {
    border: 2px solid #187aca;
}
#login > div > button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #187aca;
}
#login_register {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
#login_register > a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/*!signup*/

#signup_frame {
    display: none;
}
#signup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1002;
    color: #ffffff;
    border-radius: 10px;
}
#signup > div {
    text-align: center;
    width: 350px;
    height: 450px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #f8f8f8;
}
#signup_title {
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    background-color: #187aca;
}
#signup > div > input {
    width: 80%;
    margin: 10px 5px;
}
.signup_form {
    margin: 15px;
}
.signup_form:first-child {
    margin-top: 30px;
}
.signup_input {
    width: 65%;
    height: 40px;
    padding: 5px 10px;
    outline: none;
    border-radius: 15px;
    border: 0;
}
.signup_input:focus {
    border: 2px solid #187aca;
}
.signup_btn {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    color: #ffffff;
    background-color: #187aca;
}
.overlap_check {
    color: #ffffff;
    width: 50px;
    height: 40px;
    line-height: 40px;
    background-color: #187aca;
}


/*!quiz_list*/

#quiz_list_frame {
    position: relative;
    display: flex;
    min-height: 500px;
    padding-bottom: 50px;
    background-image: url(/user/img/user_index_background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: #ade9e7; */
}
#quiz_profile {
    width: 300px;
    margin-left: 100px;
    padding-top: 100px;
    text-align: center;
}
#quiz_profile_input > p {
    display: block;
    margin: 20px auto;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    padding: 0 10px;
    text-align: left;
    border-bottom: 1px solid #968383;
}
#btn_profile_edit {
    width: 220px;
    height: 30px;
    background-color: #596ac9;
    color: #ffffff;
}
#btn_profile_edit_a {
    display: block;
    width: 220px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    text-decoration: none;
}
#quiz_list {
    position: relative;
    padding-top: 100px;
    width: 55%;
    margin: 0 auto;
}
#no_list {
    position: absolute;
    right: 430px;
    top: 200px;
    font-size: 30px;
    text-shadow: 0 5px 10px #000000;
}
.quiz_list_frame {
    position: relative;
    display: flex;
    margin: 25px 0;
    transition: 0.5s;
}
.quiz_list_frame:hover {
    transform: scale(1.05);
}
.quiz_list_title {
    width: 100%;
    height: 70px;
    border-radius: 50px;
    padding-left: 10px;
    line-height: 70px;
    background-color: #ffffff;
    cursor: pointer;
}
.quiz_list_edit {
    position: absolute;
    right: 0;
    width: 120px;
    height: 70px;
    border-radius: 50px;
    color: #ffffff;
    background-color: #596ac9;
}
#quiz_list_add_button_frame {
    width: 50px;
    margin: 0 auto;
}
/*todo : <button class="quiz_add_button">문제 만들기</button>*/
#quiz_add_button {
    display: block;
    height: 50px;
    width: 50px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50%;
    background-color: #febc01;
}
#quiz_add_text {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
}

/*!quiz_write*/

/* #quiz_write_container {
    height: 100%;
} */
#quiz_write_frame {
    background-color: #ade9e7;
    text-align: center;
    min-height: 200px;
    padding: 30px;
}
.quiz_write {
    display: flex;
    width: 1000px;
    margin: 20px auto 0;
    border-radius: 10px;
}
.quiz_write_title {
    display: block;
    height: 50px;
    line-height: 50px;
}
.quiz_write_title_input {
    width: 500px;
    height: 45px;
    padding: 5px 15px;
    font-size: 20px;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.quiz_num {
    border-right: 1px solid #596ac9;
    width: 100px;
    color: #ffffff;
    height: 100px;
    line-height: 100px;
    font-size: 40px;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #596ac9;
}
.quiz_problem {
    display: flex;
    height: 100px;
    line-height: 100px;
}
.quiz_problems {
    display: block;
    width: 900px;
    height: 50px;
    line-height: 50px;
    outline: none;
    padding: 0 20px;
    border: 1px solid #596ac9;
    text-decoration-color: #596ac9;
}
.quiz_problems:focus {
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: #596ac9;
}
.quiz_question {
    font-size: 15px;
    font-weight: bold;
}
.quiz_problem_delete {
    width: 50px;
    font-size: 10px;
    border-radius: 0 10px 10px 0;
    color: #ffffff;
    background-color: #596ac9;
    border: 1px solid #596ac9;
}
#quiz_write_bottom {
    padding: 50px 0;
    margin-bottom: 100px;
    background-color: #ade9e7;
}
.quiz_add_problem {
    display: block;
    width: 900px;
    height: 40px;
    margin: 0 auto 20px;
    border: 0;
    border-radius: 10px;
    background-color: #596ac9;
    color: #ffffff;
    outline: none;
}
.quiz_make_frame {
    text-align: right;
    width: 900px;
    margin: 0 auto;
}
.quiz_make_btn {
    width: 100px;
    height: 50px;
    background-color: #596ac9;
    color: #ffffff;
}

/*!quiz_read*/

#quiz_read_frame {
    height: 100%;
    padding-bottom: 20%;
    background-image: url(/user/img/user_index_background.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#quiz_read {
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}
#quiz_read_wrapper {
    padding-top: 50px;
    overflow: hidden;

    /* if when click more button */
    /* height: none;
    min-height: 650px;
    overflow: none; */
}
#quiz_read_title_wrapper {
    text-align: center;
    height: 50px;
    line-height: 50px;
}
#quiz_read_title {
    display: inline-block;
    padding: 0 15px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
}
.quiz_read_ul {
    margin: 50px 0;
    list-style: none;
}
.quiz_read_ul li {
    height: 30px;
    line-height: 30px;
    margin: 10px 0;
    border-radius: 50px;
    background-color: #ffffff;
}
.quiz_read_ul li:nth-child(2n-1):before {
    content: url(../img/dot.png);
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    width: 10px;
    height: 15px;
}
.quiz_read_ul li:nth-child(2n) {
    padding: 0 30px; 
}
.quiz_read_ul li:nth-child(2n):before {
    content: url(../img/arrow.png);
    padding: 0 10px;
}
.quiz_read_ul li {
    margin-bottom: 10px;
    height: 45px;
    line-height: 45px;
}
#quiz_more_button {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    border: 0;
    color: #ffffff;
    border-radius: 50%;
    background-color: #596ac9;
}
#quiz_more_button > img {
    display: inline-block;
    width: 50px;
    height: 45px;
    margin-top: 5px;
    border-radius: 50%;
}
#quiz_read_goto_solve_frame {
    text-align: right;
    margin-bottom: 100px;
}
#quiz_read_goto_solve {
    width: 120px;
    height: 50px;
    color: #ffffff;
    border-radius: 50px;
    background-color: #596ac9;
}
#quiz_read_goto_solve > a {
    display: block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
}

/*!quiz_solve*/

#quiz_solve {
    /* height: 100%; */
    /* min-height: 500px;
    width: 1519.2px; */
    padding: 50px 0;
    background-color: #ade9e7;
}
.quiz_solve_wrapper {
    position: relative;
    width: 900px;
    height: 500px;
    margin: 0 auto 150px;
    padding-top: 50px;
    border: 1px solid #596ac9;
}
.quiz_solve_workbook_title {
    padding: 10px 0;
    height: 85px;
    border-bottom: 1px solid #596ac9;
}
.quiz_solve_workbook_title > span {
    display: block;
    font-size: 50px;
    text-align: center;
    overflow: hidden;
    color: #ffffff;
}

.quiz_solve_content_wrapper {
    padding: 60px 45px 0;
}
.quiz_solve_content_question {
    display: flex;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    border-bottom: 3px solid #596ac9;
}
.quiz_solve_num {
    width: 160px;
    font-size: 30px;
    font-weight: bold;
    border-right: 0;
}
.quiz_solve_title {
    width: 650px;
    font-size: 20px;
}

.quiz_solve_content_answer {
    display: flex;
    height: 100px;
    line-height: 100px;
    color: #ffffff;
    border-bottom: 2px solid #596ac9;
}
.quiz_solve_answer {
    text-align: center;
    width: 160px;
    font-size: 25px;
    border-right: 0;
}
.quiz_solve_input_frame {
    widows: 650px;
    margin: 0 auto;
}
.quiz_solve_input {
    margin: 20px auto;
    padding-left: 30px;
    height: 50px;
    width: 650px;
    font-size: 15px;
}
.quiz_solve_buttons {
    text-align: right;
    margin-top: 40px;
    padding: 20px 45px;
}
.quiz_solve_button {
    height: 50px;
    width: 100px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #596ac9;
}
#quiz_solve_stop {
    position: absolute;
    left: 50px;
    top: 50px;
}

/*!user_mypage*/

#mypage_wrapper {
    background-image: url(/user/img/user_index_background.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* .mypage_content {
    border: 1px solid black;
} */
#mypage_content_wrapper {
    width: 1100px;
    margin: 0 auto;
}
#mypage_main {
    height: 565px;
    display: flex;
}
#mypage_main > div {
    padding-top: 50px;
}
#mypage_profile_wrapper {
    width: 550px;
}
#mypage_profile_hello {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#mypage_profile_image {
    display: block;
    width: 333px;
    height: 333px;
    margin: 15px auto;
    border-radius: 25px;
    background-color: #ffffff;
}
#mypage_exp_wrapper {
    height: 30px;
    width: 333px;
    margin: 0 auto;
    border-radius: 5px;
}
#mypage_exp {
    position: relative;
    height: 30px;
    border-radius: 5px;
    background-color: #ffffff;
}
#mypage_exp > div {
    position: absolute;
    height: 30px;
    border-radius: 5px;
    min-width: 1%;
    background-color: #4b9faa;
}
#mypage_exp_percent {
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


#mypage_input_wrapper {
    width: 550px;
}
.myapge_input {
    display: block;
    height: 50px;
    width: 300px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 0;
    padding: 0 10px;
    border-radius: 20px;
}
.mypage_p{
    width: 300px;
    height: 25px;
    line-height: 25px;
    font-size: 25px;
    margin: 25px auto 0;
    font-weight: bold;
}
#cant_change_id {
    pointer-events: none;
}
#cant_change_id_text {
    width: 300px;
    margin: 0 auto;
    padding-left: 50px;
    font-size: 15px;
    font-weight: bold;
}
#mypage_nickname {
    display: flex;
    height: 25px;
    width: 300px;
    margin: 25px auto 0;
}
#mypage_nickname > p {
    margin: 0;
    width: 80px;
}
#mypage_overlap_check {
    width: 90px;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3995e1;
}

#mypage_bottom_wrapper {
    height: 140px;
    text-align: center;
}
#mypage_bottom {
    margin: 0 auto;
}
#mypage_btn {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #3995e1;
}

/*!quiz_score*/

#quiz_score_wrapper {
    background-image: url(/user/img/user_index_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 100px;
}
#quiz_score {
    background-color: #ffffff;
    font-weight: bold;
}
#quiz_score_title {
    height: 145px;
    line-height: 145px;
    text-align: center;
    background-color: #3995e1;
}
#quiz_score_title > p {
    font-size: 50px;
}
#quiz_score_content_wrapper {
    text-align: center;
    height: 80%;
}
#quiz_score_yourscoreis {
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    margin-top: 20px;
}
#quiz_score_score {
    height: 350px;
    line-height: 350px;
    font-size: 200px;
}
#quiz_score_comment {
    height: 60px;
    line-height: 60px;
    font-size: 40px;
}
#quiz_score_button_wrapper {
    height: 115px;
    line-height: 115px;
}
#quiz_score_button {
    width: 600px;
    margin: 0 auto;
}
#quiz_score_button > button {
    height: 50px;
    width: 200px;
    margin: 0 40px;
    font-size: 20px;
    background-color: #3995e1;
}
#back > a, #resolve > a {
    text-decoration: none;
    color: #ffffff;
}



















/*!footer*/
#footer_frame {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: #ade9e7;
}
#footer {
    overflow: hidden;
    padding: 20px 0;
    text-align: center;
}
#footer > img {
    height: 50px;
    
}
#info_indus > span {
    font-size: 10px;
}
#info_indus > span > a {
    text-decoration: none;
    color: #051569;
}
#info_cap > span {
    font-size: 13px;
    color: #000000;
}