* {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
button:hover {
    opacity: 0.8;
}
/*!header*/
#header {
    height: 100px;
    /* line-height: 100px; */
    background-color: #40564e;
}
#header header {
    height: 100px;
    /* line-height: 100px; */
}
#header header .header_logo {
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#header header .header_logo > a {
    height: auto;
}
#header header .header_logo > a > img {
    height: 80px;
    padding: 10px;
    border-radius: 10px;
}
#header header .header_btns {
    height: 100px;
    float: right;
    padding-top: 30px;
    margin-right: 20px;
}
#header header .header_btns .header_btns_frame .btn {
    height: 45px;
    line-height: 45px;
    width: 85px;
    border-radius: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #5b7c70;
    color: #ffffff;
    margin-right: 5px;
    transition: 0.5s;
}
#header header .header_btns .header_btns_frame .btn:hover {
    transform: translate(0, -10%);
    height: 55px;
    width: 95px;
}

#container {
    height: 50vh;
}

/*!main*/

#main {
    height: 75vh;
    padding-top: 100px;
    background-color: #6fa893;
}
#main > div {
    text-align: center;
    height: auto;
    margin: 0 auto;
    width: 500px;
}
#title {
    color: #ffffff;
    font-size: 80px;
    font-weight: bold;
    margin-bottom: 30px;
}
#main > div > div {
    height: 100px;
    line-height: 100px;
}
#main > div > div > * {
    display: block;
    margin: 20px auto;
}
#user_id {
    padding: 0 10px;
    width: 400px;
    height: 50px;
    border: 1px solid #ffaef8;
    border-radius: 10px;
    outline: none;
}
#user_search {
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    width: 400px;
    height: 40px;
    color: #ffffff;
    background-color: #40564e;
}

/*!login*/

#login_frame {
    display: none;
}
#login_shadow {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    background-color: #efced736;
}
#login {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 10px;
}
#login > form {
    width: 350px;
    height: 400px;
    margin: 0 auto;
    border-radius: 10px;
    /* background: linear-gradient(to bottom, purple , white 25%, red , black ); */
    background: #7a978d;
}
#login_title {
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}
#login > form > input {
    display: flex;
    margin: 30px auto;
    width: 85%;
    height: 40px;
}
.login_input {
    padding: 5px 10px;
    outline: none;
    border-radius: 15px;
    border: 0;
}
#login > form > button {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
#login_register {
    margin-top: 15px;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
#login_register > a {
    color: #13350f;
}

/*!signup*/

#signup_frame {
    display: none;
}
#signup {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 11;
    border-radius: 10px;
}
#signup > form {
    text-align: center;
    width: 350px;
    height: 480px;
    margin: 0 auto;
    border-radius: 10px;
    background: #7a978d;
}
#signup_title {
    color: #ffffff;
    padding: 30px 0;
    text-align: center;
    font-size: 30px;
}
#signup > form > input {
    /* display: flex; */
    width: 80%;
    margin: 10px 5px;
}
#signup > form > div {
    margin: 10px 5px;
}
.signup_input {
    width: 65%;
    height: 40px;
    padding: 5px 10px;
    outline: none;
    border-radius: 15px;
    border: 0;
}
.signup_btn {
    display: block;
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border: 0;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
.overlap_check {
    color: #ffffff;
    width: 50px;
    height: 40px;
    line-height: 40px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: #40564e;
}


/*!quiz_list*/

#quiz_list_frame {
    min-height: 100vh;
    position: relative;
    display: flex;
    background-color: #6fa893;
}
#quiz_profile {
    width: 30%;
    padding-top: 100px;
    text-align: center;
}
#quiz_profile_input > input {
    display: block;
    margin: 20px auto;
    width: 220px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    outline: none;
    border: 1px solid #b1ffa7;
}
#quiz_profile_input > button {
    width: 220px;
    height: 30px;
    background-color: #94ff85;
    border: 0;
    border-radius: 10px;
    color: #00791e;
    cursor: pointer;
    outline: none;
}
#quiz_list {
    padding-top: 100px;
    width: 70%;
}
#quiz_list > div {
    display: flex;
    height: 80px;
}
#quiz_list > div > div {
    width: 70%;
    border: 1px solid #b1ffa7;
    margin-top: 15px;
    padding-left: 10px;
    height: 70px;
    line-height: 70px;
}
#quiz_list > div > button {
    width: 10%;
    height: 70px;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
    margin: 15px 0 0 15px;
    background-color: #b1ffa7;
}
.quiz_add_button {
    border: 0;
    margin: 30px 0 0 55px;
    display: block;
    width: 60%;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5dda72;
}

/*!quiz_write*/

#quiz_write_frame {
    background-color: #6fa893;
    text-align: center;
    min-height: 90vh;
    padding-top: 30px;
}
.quiz_write {
    display: flex;
    width: 1000px;
    /* height: 100px; */
    margin: 20px auto 0;
    border-radius: 10px;
}
.quiz_num {
    border-right: 1px solid #40564e;
    width: 10%;
}
.quiz_num > p {
    color: #ffffff;
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 40px;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #648277;
}
.quiz_problem {
    width: 90%;
    height: 100px;
    line-height: 100px;
}
.quiz_problems {
    display: block;
    width: 900px;
    height: 50px;
    line-height: 50px;
    outline: none;
    padding: 0 20px;
    border: 1px solid #40564e;
    text-decoration-color: #297a2e;
}
.quiz_problems:focus {
    transition: 0.5s;
    text-decoration: underline;
    text-decoration-color: #297a2e;
}
.quiz_question {
    border-radius: 0 10px 0 0;
    font-size: 15px;
    font-weight: bold;
}
.quiz_answer {
    border-radius: 0 0 10px 0;
}
.quiz_add_problem {
    display: block;
    width: 900px;
    height: 40px;
    margin: 50px auto 0;
    border: 0;
    border-radius: 10px;
    background-color: #648277;
    color: #ffffff;
    outline: none;
}
.quiz_make_frame {
    width: 1000px;
    margin: 50px auto 0;
}
.quiz_make_btn {
    width: 100px;
    height: 50px;
    float: right;
    border: 0;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    background-color: #648277;
    color: #ffffff;
}







/*!footer*/

#footer {
    height: 130px;
    padding-top: 20px;
    text-align: center;
}
#footer > img {
    height: 50px;
    
}
#info_indus > span {
    font-size: 10px;
    color: #000000;
}
#info_cap > span {
    font-size: 13px;
    color: #000000;
}
#footer > div > span > a {
    text-decoration: none;
    color: #000000;
}